@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Concert One", sans-serif;
    font-size: 1.15rem;
    font-weight: 100;
    font-style: normal;
    text-align: center;
}

body {
    color: var(--maincolor);
    background: var(--bgcolor);
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
}

:root {
    --bgcolor: #f2cc8f;
    --navcolor: #e07a5f;
    --navtxtcolor: #f4f1de;
    --searchcolor: #3d405b;
    --maincolor: #81b29a;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--navcolor);
    color: var(--navtxtcolor);
}

a {
    text-decoration: none;
    color: var(--navtxtcolor);
}

h1 {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 900;
}

.pages {
    padding: 1rem;
}

.pages a {
    border: var(--navtxtcolor) 1px solid;
    border-radius: 1rem;
    padding: 0.25rem;
}

.pages a:hover {
    transition: 0.5s background, color;
    background: var(--navtxtcolor);
    color: var(--navcolor);
}

.pages a:not(:hover) {
    transition: 0.5s background, color;
    background: var(--navcolor);
    color: var(--navtxtcolor);
}

footer {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: var(--navcolor);
    color: var(--navtxtcolor);
    text-align: center;
    padding: 0.5rem;
}

footer a img:hover {
    transition: 0.4s opacity;
    opacity: 0.5;
}

footer a img:not(:hover) {
    transition: 0.4s opacity;
    opacity: 1;
}

@media screen and (max-width: 600px) {
    nav {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .pages a {
        display: block;
    }
}

form {
    display: flex;
    position: relative;
    left: calc(50% - 7.25rem);
    border: 1px solid var(--searchcolor);
    border-radius: 2rem;
    width: fit-content;
}

input {
    border-radius: 2rem;
    padding: 0.5rem;
    color: var(--maincolor);
    background: none;
    border: none;
}

input:focus {
    outline: none;
}

button {
    border-radius: 0 2rem 2rem 0;
    padding: 0.5rem;
    color: var(--maincolor);
    background: var(--searchcolor);
    border: none;
    cursor: pointer;
}
